<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Crear Usuario{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_user.css' %}">
</head>
<body>
    <header class="header">
        <div class="container header-container">
            <h1 class="header__title">{% block header_title %}Crear Usuario{% endblock %}</h1>
            <a href="{% url 'user_list' %}" class="btn btn-secondary">Volver a la lista de usuarios</a>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            {% block content %}
                <h2 class="form-title">Formulario de Creación</h2>
                <form method="post" class="user-form">
                    {% csrf_token %}
                    
                    <!-- Mostrar errores generales del formulario -->
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    
                    {{ form.username.label_tag }} {{ form.username }}
                    {% if form.username.errors %}
                        <div class="error">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}
                    
                    {{ form.email.label_tag }} {{ form.email }}
                    {% if form.email.errors %}
                        <div class="error">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                    
                    {{ form.roles.label_tag }} {{ form.roles }}
                    {% if form.roles.errors %}
                        <div class="error">
                            {{ form.roles.errors }}
                        </div>
                    {% endif %}

                    <!-- Campos de Contraseña -->
                    {{ form.password1.label_tag }} {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="error">
                            {{ form.password1.errors }}
                        </div>
                    {% endif %}

                    {{ form.password2.label_tag }} {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="error">
                            {{ form.password2.errors }}
                        </div>
                    {% endif %}
                    
                    <!-- Omitir el campo 'password_authentication' si existiera -->

                    <button type="submit" class="btn btn-primary">Crear Usuario</button>
                </form>
            {% endblock %}
        </div>
    </main>
</body>
</html>
