# Entornos virtuales
env/
venv/

# Archivos de bases de datos
*.sqlite3

# Archivos compilados de Python
*.pyc
__pycache__/

# Archivos de configuración del entorno
*.env

# Archivos de caché y de trabajo temporal
*.log
*.pot
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Directorios de IDEs
.vscode/
.idea/

# Archivos de migraciones
#**/migrations/*
#!**/migrations/__init__.py

# Archivos estáticos y multimedia
staticfiles/
media/*

# Django stuff:
*.log
local_settings.py
db.sqlite3

# PyCharm specific
*.iml
*.iws
*.ipr
.idea/

# VSCode specific
.vscode/

# MacOS
.DS_Store
