<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ventas.css' %}">
    <title>Historial de Ventas</title>
</head>
<body>
    <header class="header">
        <div><a class="boton_atras" href="{% url 'home' %}">Atrás</a></div>
        <h1>Historial de Ventas</h1>
        <div></div>
    </header>
    <div class="contenedor">
        <main>
            

            <!-- Formulario de filtros -->
            <form class="filtro-form" method="GET">
                <label for="fecha_inicio">Fecha inicio:</label>
                <input type="date" name="fecha_inicio" id="fecha_inicio" value="{{ request.GET.fecha_inicio }}">

                <label for="fecha_fin">Fecha fin:</label>
                <input type="date" name="fecha_fin" id="fecha_fin" value="{{ request.GET.fecha_fin }}">

                <label for="cliente">Cliente:</label>
                <input type="text" name="cliente" id="cliente" value="{{ request.GET.cliente }}">

                <button type="submit">Filtrar</button>
            </form>

            <div class="historial-container">
                {% if ventas %}
                    {% for venta in ventas %}
                        <div class="compra-card">
                            <div class="compra-info">
                                <div class="compra-detalle">
                                    <h3>ID Venta</h3>
                                    <p>{{ venta.id }}</p> <!-- ID de la compra -->
                                </div>
                                <div class="compra-detalle">
                                    <h3>Cliente</h3>
                                    <p>{{ venta.usuario.username }}</p> <!-- Nombre del cliente -->
                                </div>
                                <div class="compra-detalle">
                                    <h3>Categoría</h3>
                                    <p>{{ venta.categoria.nombre }}</p> <!-- Nombre de la categoría -->
                                </div>
                                <div class="compra-detalle">
                                    <h3>Fecha</h3>
                                    <p>{{ venta.fecha_transaccion|date:"d M Y H:i" }}</p> <!-- Fecha de la transacción -->
                                </div>
                                <!-- Si tienes un campo de total en el modelo, puedes agregarlo aquí. Si no, lo puedes eliminar -->
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No hay ventas que mostrar.</p>
                {% endif %}
            </div>
        </main>
    </div>
</body>
</html>
