<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suscripciones</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/inicio_suscripcion.css' %}">
</head>
<body>
    <header>
        <div><a class = "boton_atras" href="javascript:history.back();">Atras</a></div>
        <div><h2 class = "titulo">Suscripciones</h2></div>
        <div></div>
    </header>
    <main>
        <div class = "mensaje_inicio"><h2 class ="titulo_mensaje">🌟 Bienvenido a tu sección de Suscripciones 🌟</h2>
            <p>Aquí podrás explorar y gestionar tus suscripciones a nuestras categorías. Descubre contenido exclusivo y personalizado que se adapta a tus intereses. ¡Aprovecha al máximo tu experiencia!</p></div>
    </main>
</body>
</html>