<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suscripciones</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/inicio_suscripcion.css' %}">
</head>
<body>
    <header>
        <div><a class = "boton_atras" href="javascript:history.back();">Atras</a></div>
        <div><h2 class = "titulo">Suscripciones</h2></div>
        <div></div>
    </header>
    <main>
        {% if user.is_authenticated %}
            <div class = "mensaje_inicio"><h2 class ="titulo_mensaje">🌟 Bienvenido a tu sección de Suscripciones 🌟</h2>
                <p>Aquí podrás explorar y gestionar tus suscripciones a nuestras categorías. Descubre contenido exclusivo y personalizado que se adapta a tus intereses. ¡Aprovecha al máximo tu experiencia!</p>
            </div>
        {% else %}
                <!-- Si el usuario no está autenticado, mostrar los botones de login y registro -->
                <div class="mensaje_no_auth">
                    <h2 class = "titulo_noinicio">No has iniciado sesión</h2>
                    <p>Por favor, inicia sesión o regístrate para acceder a tus suscripciones.</p>
                    <button class = "boton_estilo" onclick="redirigirRegistro()" type="button">Sign up</button>
                    <button class = "boton_estilo" onclick="redirigirLogin()" type="button">Log in</button>
                </div>
        {% endif %}
    </main>
    <!-- Script para redirigir a la pagina de login/register-->
    <script type="text/javascript">
        const redirigirLogin = () => {
            window.location.href = "{% url 'account_login' %}";
        }

        const redirigirRegistro = () => {
            window.location.href = "{% url 'account_signup' %}";
        }
    </script>
</body>
</html>