<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago Exitoso</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/inicio_suscripcion.css' %}">
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
</head>
<body>
    <header>
        <h1>¡Gracias por tu compra!</h1>
    </header>
    <main>
        <div class="mensaje_exito">
            <h2>🌟 Pago completado con éxito 🌟</h2>
            <p>Te has suscrito correctamente a las categorías seleccionadas. Ahora tienes acceso al contenido exclusivo.</p>
            
        </div>
        <div class="contenedor-boton"></div>
            <a href="{% url 'suscripciones_view' %}" class="boton_pago">Ver mis suscripciones</a>
        </div>
    </main>
    
</body>
</html>
