<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago Exitoso</title>
</head>
<body>
    <header>
        <h1>¡Gracias por tu compra!</h1>
    </header>
    <main>
        <div class="mensaje_exito">
            <h2>🌟 Pago completado con éxito 🌟</h2>
            <p>Te has suscrito correctamente a las categorías seleccionadas. Ahora tienes acceso al contenido exclusivo.</p>
            <a href="{% url 'suscripciones_view' %}" class="boton">Ver mis suscripciones</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Tu Sitio Web</p>
    </footer>
</body>
</html>
