/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #eef2f3, #d6eae3); /* Gradiente con un verde suave al fondo */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

/* Contenedor principal */
.container {

    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Título */
.header__title {
    font-size: 3rem;
    margin-bottom: 30px;
    color: white; /* Conserva el color blanco para el título */
}

/* Lista de menú */
.menu__list {
    display: flex;
    justify-content: space-around; /* Más espacio entre botones */
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Elementos de menú */
.menu__item {
    margin: 0 30px; /* Más separación entre los botones */
    flex: 1; /* Hace que todos los botones tengan el mismo ancho */
    min-width: 150px;
    min-height: 100px; 

}


/* Enlaces de menú */
.menu__link {
    color: white; /* Blanco para el texto */
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgba(22, 160, 133, 0.7); /* Basado en el color #16a085 */
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu__link i {
    margin-right: 10px;
    font-size: 1.5rem;
}

/* Hover en enlaces de menú */
.menu__link:hover {
    background-color: white; /* Cambia el fondo a blanco al pasar el mouse */
    color: #16a085; /* Cambia el texto al color verde original */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px); /* Efecto de "flotar" al pasar el mouse */
}

/* Estilo especial para el botón de cerrar sesión */
.menu__link--logout {
    background-color: #e74c3c; /* Rojo para el botón de cerrar sesión */
}

.menu__link--logout:hover {
    background-color: #c0392b; /* Rojo más oscuro al pasar el mouse */
    color: white; /* Blanco para el texto */
}

/* Estilos adicionales para la sección de contenido */
.main-content {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .menu__list {
        flex-direction: column;
    }
    
    .menu__item {
        margin: 10px 0; /* Más separación entre botones en pantallas pequeñas */
    }
    
    .header__title {
        font-size: 2rem;
    }
}
