/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #eef2f3;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #16a085;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #12746b;
}

.boton_atras {
    font-size: 18px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: #16a085;
    background-color: #d6eae3;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.boton_atras i {
    margin-right: 5px;
}

.boton_atras:hover {
    background-color: #b4d9d0;
}

.header h1 {
    color: #fff;
    font-size: 2.4em;
    margin: 0;
    display: inline-flex;
    align-items: center;
}

.header h1 i {
    margin-right: 10px;
}

/* Contenedor del historial */
.historial-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo de las tarjetas de compra */
.compra-card {
    background-color: #eaeaea;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.compra-card:hover {
    transform: scale(1.02);
}

/* Detalles de la compra */
.compra-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.compra-detalle h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.compra-detalle p {
    font-size: 18px;
    color: #555;
    margin: 0;
}
