/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #eef2f3;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #16a085;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton_atras {
    font-size: 19px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #12746b;
    background-color: #d6eae3;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
    width: auto;
}

.boton_atras:hover {
    background-color: #c3dcd1;
}

.header h1 {
    color: #fff;
    font-size: 2.6em;
    margin: 0;
}

/* Estilo del formulario de filtros */
.filtro-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Añadido para espacio entre los elementos */
}

.filtro-form label {
    font-size: 16px;
    margin-right: 10px;
}

.filtro-form input, .filtro-form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filtro-form button {
    background-color: #16a085;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filtro-form button:hover {
    background-color: #12746b;
}

/* Contenedor del historial */
.historial-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo de las tarjetas de venta */
.compra-card {
    background-color: #eaeaea;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.compra-card:hover {
    transform: scale(1.02);
}

/* Detalles de la venta, uno debajo del otro */
.compra-info {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.compra-detalle h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 8px;
    margin-top: 0;
}

.compra-detalle p {
    font-size: 18px;
    color: #555;
    margin: 0;
}
