<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Crear Contenido{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contenido_form.css' %}">  <!-- Enlace a un archivo CSS específico para Contenido -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
    <header class="header">
        <div class="container header-container">
            <h1 class="header__title">{% block header_title %}Crear Contenido{% endblock %}</h1>
            <a href="{% url 'autor_dashboard' %}" class="btn btn-back">
                <i class="fas fa-arrow-left"></i> Atrás
            </a>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            {% block content %}
                <h2 class="form-title">Formulario de Creación de Contenido</h2>
                <form method="post" class="content-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Crear Contenido
                    </button>
                </form>
            {% endblock %}
        </div>
    </main>
</body>
</html>
