<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Registro</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contenido_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/contenido_registro.css' %}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- Íconos FontAwesome -->
</head>

    <body>
        <header class="header">
            <div class="container header-container">
                <h1 class="header__title">Gestionar Contenidos</h1>
                <div class="header__actions">
                    <a href="{% url 'home' %}" class="btn btn-home">
                        <i class="fas fa-home"></i> Inicio
                    </a>
                    <a href="{% url 'account_logout' %}" class="btn btn-logout">
                        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                    </a>
                    <a href="{% url 'autor_dashboard' %}" class="btn btn-back">
                        <i class="fas fa-arrow-left"></i> Tablero Kanban
                    </a>
                </div>
            </div>
        </header>

        <h2>Registro de Cambios - {{ contenido.titulo_conte }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Fecha de Cambio</th>
                    <th>Estado Anterior</th>
                    <th>Estado Nuevo</th>
                    <th>Usuario</th>
                    <th>Razón (A borrador)</th>
                    <th>Razón (A en revision)</th>

                </tr>
            </thead>
            <tbody>
                {% for cambio in cambios_estado %}
                <tr>
                    <td>{{ cambio.fecha_cambio }}</td>
                    <td>{{ cambio.estado_anterior }}</td>
                    <td>{{ cambio.estado_nuevo }}</td>
                    <td>{{ cambio.usuario.username }}</td>
                    <td>{{ cambio.razon_cambio }}</td>
                    <td>{{ cambio.razon_revision }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </body>
</html>