<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ contenido.titulo_conte }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contenido_detail.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <h1 class="header__title">Gestión de Contenidos</h1>
            <a href="{% url 'autor_dashboard' %}" class="btn">Volver a Kanban Autor</a>
        </div>
    </header>

    <div class="main-content">
        <!-- Título del Contenido -->
        <h1 class="content-title">{{ contenido.titulo_conte }}</h1>

        <!-- Imagen de Portada -->
        <div class="cover-image">
            {% if contenido.imagen_conte %}
            <img src="{{ contenido.imagen_conte.url }}" alt="{{ contenido.titulo_conte }}">
            {% endif %}
        </div>

        <!-- Cuerpo del Contenido -->
        <div class="content-body">
            <p>{{ contenido.texto_conte|safe }}</p>
        </div>

        <!-- Metadatos del Contenido -->
        <div class="content-meta">
            <p><strong>Publicado el:</strong> {{ contenido.fecha_conte }}</p>
            <p><strong>Autor:</strong> {{ contenido.autor.first_name }} {{ contenido.autor.last_name }}</p>
            <!-- Mostrar la fecha de publicación programada si existe -->
            {% if contenido.fecha_publicacion %}
            <p><strong>Fecha de Publicación Programada:</strong> {{ contenido.fecha_publicacion }}</p>
            {% endif %}

            <h3><i class="fas fa-history"></i> Versiones Anteriores</h3>

            {% if versiones %}
                <ul class="version-list">
                    {% for version in versiones %}
                        <li class="version-item">
                            <i class="fas fa-file-alt"></i> 
                            <strong>Versión {{ version.version_num }}:</strong> {{ version.fecha_version }} - {{ version.titulo_conte }}
                            <a href="{% url 'contenido_version_detail' pk=contenido.pk version_num=version.version_num %}" class="btn-view-version">
                                <i class="fas fa-eye"></i> Ver esta versión
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p><i class="fas fa-info-circle"></i> No hay versiones anteriores disponibles para este contenido.</p>
            {% endif %}
            
            
            <!-- Cargar Font Awesome -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
            
            
        </div>
        
    </div>
</body>
</html>
