<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Autor</title>
    
    {% load static %}  <!-- Cargar archivos estáticos -->
    <link rel="stylesheet" href="{% static 'css/autor_dashboard.css' %}">  <!-- Enlace al archivo CSS específico para Autor -->
</head>
<body>
    <header>
        <h1>Bienvenido Autor!</h1>
        <nav>
            <ul>
                <li><a href="{% url 'contenido_create' %}">Crear Nuevo Contenido</a></li>
                <li><a href="{% url 'contenido_list' %}">Gestionar tus Contenidos</a></li>
                <li><a href="#">Ver Comentarios</a></li>
                <li><a href="{% url 'account_logout' %}">Cerrar Sesión</a></li>  <!-- Botón de Logout -->
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Panel de Creación</h2>
            <p>Desde aquí puedes crear y gestionar tus propios contenidos en la plataforma.</p>
        </section>
        <section>
            <h2>Estadísticas de tus Contenidos</h2>
            <p>Consulta las métricas de rendimiento de tus publicaciones y optimiza tu contenido.</p>
        </section>
    </main>
</body>
</html>
