<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Compras</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/historial_compras.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="header">
        <div>
            <a class="boton_atras" href="{% url 'home' %}">
                <i class="fas fa-arrow-left"></i> Atrás
            </a>
        </div>
        <h1><i class="fas fa-shopping-cart"></i> Historial de Compras</h1>
        <div></div>
    </header>

    <div class="contenedor">
        <main>
            <div class="historial-container">
                {% if historial_compras %}
                    {% for compra in historial_compras %}
                        <div class="compra-card">
                            <div class="compra-info">
                                <!-- Número de compra -->
                                <div class="compra-detalle">
                                    <h3><i class="fas fa-receipt"></i> Compra N°</h3>
                                    <p>{{ forloop.counter }}</p>
                                </div>
                                
                                <!-- Suscripción a -->
                                <div class="compra-detalle">
                                    <h3><i class="fas fa-tags"></i> Suscripción a</h3>
                                    <p>{{ compra.categoria.nombre }}</p>
                                </div>
                                
                                <!-- Precio -->
                                <div class="compra-detalle">
                                    <h3><i class="fas fa-dollar-sign"></i> Precio</h3>
                                    <p>{{ compra.categoria.precio }} GS</p>  
                                </div>
                                
                                <!-- Fecha de transacción -->
                                <div class="compra-detalle">
                                    <h3><i class="fas fa-calendar-alt"></i> Fecha de Transacción</h3>
                                    <p>{{ compra.fecha_transaccion|date:"d M Y H:i" }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No tienes compras registradas.</p>
                {% endif %}
            </div>
        </main>
    </div>
</body>
</html>
