<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo_block %}Home{% endblock %}</title>

    {% load static %}  <!-- Cargar archivos estáticos -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">  <!-- Enlace al archivo CSS -->
    <!-- Link para icono de lupa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- Carga de las funciones JS -->
    <script src="{% static 'js/home.js' %}"></script>

    <!-- ENCABEZADO DE LA PÁGINA -->
    <header class="titulos_padres">
        <div class="titulos_hijos">
            <!-- Caja de relleno. No posee nada -->
        </div>
        <div class="titulos_hijos">
            <h2>{% block header_title %}Sistema de Gestión de Contenidos{% endblock %}</h2>
        </div>
        <!-- Sección de login -->
        <div class="titulos_hijos divLogin">
            <div>
                <div class="botonesLogeo">
                    {% if user.is_authenticated %}
                    <a style = "color: white;" href="{% url 'account_logout' %}" class="menu_link menu_link--logout"><i class="fas fa-arrow-left"></i> Cerrar Sesión</a>
                    {% else %}
                    <div>Accede o crea una cuenta</div>
                    <button onclick="redirigirLogin()" type="button">Log in</button>
                    <button onclick="redirigirRegistro()" type="button">Sign up</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <!-- BARRA DE NAVEGACIÓN DEBAJO DEL ENCABEZADO -->
    <nav class="barraNavegacion">
        <div class="elementosBarra">¿Quiénes somos?</div>
        <div class="elementosBarra">Inicio</div>
        <div class="elementosBarra">Contacto</div>
    </nav>

    <!-- Área de lateral izquierdo, contenidos y lateral derecho -->
    <div class="cuerpo">
        <!-- Listado lateral izquierdo -->
        <aside class="lateral_izq">

            <ul>
                {% if has_multiple_roles or has_single_role %}
                <li><strong>Acciones</strong></li>
                {% endif %}
            
                <ul>
                    <!-- Panel Gestiones: Se muestra si el usuario tiene más de un rol -->

                    <!-- Paneles individuales: Se muestran si el usuario tiene un solo rol -->
                    {% if has_admin_role %}
                    <li><a href="{% url 'admin_dashboard' %}">Panel de Administrador</a></li>
                    {% endif %}
                    
                    {% if has_autor_role %}
                    <li><a href="{% url 'autor_dashboard' %}">Panel de Autor</a></li>
                    {% endif %}
                    
                    {% if has_editor_role %}
                    <li><a href="{% url 'editor_dashboard' %}">Panel de Editor</a></li>
                    {% endif %}
                    
                    {% if has_publicador_role %}
                    <li><a href="{% url 'publicador_dashboard' %}">Panel de Publicador</a></li>
                    {% endif %}
                </ul>
                
                <li><strong>Preferencias</strong></li>
                <ul>
                    <li><a href="#idioma">Idioma</a></li>
                    <li><a href="#notificaciones">Notificaciones</a></li>
                </ul>
            

            
                <li><strong>Configuración</strong></li>
            
                <ul>
                    <li><a href="#general">Configuración General</a></li>
                    <li><a href="#seguridad">Seguridad</a></li>
                    <li><a href="#integraciones">Integraciones</a></li>
                </ul>
            </ul>
            
        </aside>
        <!-- Área de contenidos -->
        <main class="main-content" id="mainID">
            <div class="cajaBusqueda">
                <input type="text" class="busqueda" placeholder="¿Qué estás buscando?">
                <button type="button" class="btnBuscar">
                    <i class="fas fa-search"></i>
                </button>
                <button class="filter-button" onclick="toggleFilters()">
                    <i class="fas fa-filter"></i>
                </button>
                <div class="filter-container">
                    <div class="filter-options" id="filters">
                        <form method="GET" action="">
                            <div class="filter-group">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="moderadas" {% if request.GET.moderadas %}checked{% endif %}>
                                    <span class="checkmark"></span> Moderadas
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="no_moderadas" {% if request.GET.no_moderadas %}checked{% endif %}>
                                    <span class="checkmark"></span> No Moderadas
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="pagadas" {% if request.GET.pagadas %}checked{% endif %}>
                                    <span class="checkmark"></span> Pagadas
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="suscriptores" {% if request.GET.suscriptores %}checked{% endif %}>
                                    <span class="checkmark"></span> Para Suscriptores
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Cada contenido a mostrarse acá, tiene que tener su propio div -->
            <div class="cajaContenidos" id="cajaContenidos">
                {% for contenido in contenidos %}
                    <div class="contenidoRelleno">
                        <div class="codigoConte">
                            <span>Código: {{ contenido.id_conte }}</span>
                        </div>
                        <h3>{{ contenido.titulo_conte }}</h3>

                        <!-- Mostrar la imagen solo si existe -->
                        {% if contenido.imagen_conte %}
                        <div class="divImagenContenido">
                            <img class="imagenContenido" src="{{ contenido.imagen_conte.url }}" alt="{{ contenido.titulo_conte }}">
                        </div>
                        {% endif %}
                        <!-- Mostrar el contenido usando el filtro 'safe' para renderizar HTML -->
                        <p>{{ contenido.texto_conte|safe }}</p>

                        <div class="btn-container">
                            <a href="{% url 'contenido_detail' contenido.id_conte %}" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>

        <!-- Listado lateral derecho -->
        <aside class="lateral_der">
            <h2>Información Útil</h2>
            <ul>
                <li><strong><a href="#registrarme">¿Cómo registrarme?</a></strong></li>
                <p class="pLateralDer">Guía paso a paso para registrarte en nuestra plataforma y comenzar a usar todas las funcionalidades.</p>

                <li><strong><a href="#recuperar">¿Olvidaste tu contraseña?</a></strong></li>
                <p class="pLateralDer">Instrucciones para recuperar el acceso a tu cuenta si olvidaste tu contraseña.</p>

                <li><strong><a href="#primerospasos">Primeros pasos</a></strong></li>
                <p class="pLateralDer">Consejos y recomendaciones para familiarizarte con nuestra plataforma.</p>

                <li><strong><a href="#privacidad">Política de Privacidad</a></strong></li>
                <p class="pLateralDer">Detalles sobre cómo manejamos tu información y tus derechos sobre tus datos.</p>

                <li><strong><a href="#soporte">Soporte Técnico</a></strong></li>
                <p class="pLateralDer">Cómo contactar a nuestro equipo de soporte si necesitas ayuda.</p>

                <li><strong><a href="#preguntas">Preguntas Frecuentes (FAQ)</a></strong></li>
                <p class="pLateralDer">Respuestas a las preguntas más comunes sobre el uso de la plataforma.</p>

                <li><strong><a href="#actualizaciones">Actualizaciones del Sistema</a></strong></li>
                <p class="pLateralDer">Información sobre las últimas actualizaciones, mejoras y nuevas características.</p>

                <li><strong><a href="#contacto">Contáctanos</a></strong></li>
                <p class="pLateralDer">Formulario y opciones para ponerte en contacto con nosotros.</p>
            </ul>
        </aside>
    </div>
</body>

</html>