<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Editar Usuario{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_user.css' %}">
</head>
<body>
    <header class="header">
        <div class="container header-container">
            <h1 class="header__title">{% block header_title %}Editar categoria{% endblock %}</h1>
            <a href="{% url 'listar_categorias' %}" class="btn btn-secondary">Volver a la lista de categorias</a>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            {% block content %}
                <h2 class="form-title">Formulario de Edición</h2>
                <form method="post" class="user-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            {% endblock %}
        </div>
    </main>
</body>
</html>
