{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div class="container">  <!-- Contenedor principal -->
      {% block body %}
  
      <!-- Mensajes -->
      {% if messages %}
      <div class="messages">
        
        <ul>
          {% for message in messages %}{{ message }}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
  
      <!-- Menú -->
      <div class="menu">
        <ul class="menu__list">
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
            <li class="auth-link show-sign-in"><a href="{% url 'account_login' %}">Iniciar Sesión</a></li>
            <li class="auth-link show-sign-up"><a href="{% url 'account_signup' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </div>
  
      {% block content %}
      {% endblock %}
      {% endblock %}
      {% block extra_body %}
      {% endblock %}
    </div> <!-- Fin del contenedor principal -->
  </body>
</html>
