{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verifica tu dirección de correo electrónico" %}{% endblock %}

{% block content %}
    <h1>{% trans "Verifica su dirección de correo electrónico" %}</h1>

    <p>{% blocktrans %}Le hemos enviado un correo electrónico para su verificación. Siga el enlace proporcionado para finalizar el proceso de registro. Si no ve el correo electrónico de verificación en su bandeja de entrada principal, revisa tu carpeta de spam. Por favor, contáctanos si no recibes el correo de verificación dentro de unos minutos.{% endblocktrans %}</p>

{% endblock %}
